{{define "header"}}
<nav id="header" {{ if .PartialUpdate }} hx-swap-oob="true" {{ end }}
  class="trans p-2 text-base-600 dark:text-base-400">
  <div class="max-w-6xl m-auto flex justify-between">
    <a hx-boost="true" href="/" hx-target="#content">
      <div class="font-cabinet font-black text-4xl text-primary-500">go & htmx</div>
    </a>
    <div class="flex">
      <div class="flex md:hidden">
        <div class="mr-2 flex items-center">
          Dark
        </div>
      </div>
      <div class="hidden md:flex items-center">
        <div id="header-menu" class="ml-1 first:ml-0 rounded-md px-2 py-1 ">
          {{template "route" (map "ActivePath" .Path "URL" "/" "Name" "Home")}}
          {{template "route" (map "ActivePath" .Path "URL" "/about" "Name" "About")}}
        </div>
        <div class="ml-2 flex items-center">
          {{ template "toggle" (map "ID" "toggle-btn") }}
        </div>
      </div>
    </div>
  </div>
</nav>
{{end}}
