{{define "task"}}
<div class="brd bg-base-200 dark:bg-base-800 p-8">
    <div class="text-xl">
        {{.Title}}
    </div>
    <div class="prose dark:text-base-100">
        {{.Body}}
    </div>
</div>
<div class="mt-2 flex justify-between">
    <button hx-get="/task/{{.PrevID}}" hx-target="#tasks"
        class="brd px-2 py-1 bg-primary-200 dark:bg-primary-800">Previous</button>
    <button hx-get="/task/{{.NextID}}" hx-target="#tasks"
        class="brd px-2 py-1 bg-primary-200 dark:bg-primary-800">Next</button>
</div>
{{end}}
