{{define "task"}}
<div id="tasks">
  <!-- https://www.crocodile.dev/blog/css-transitions-with-tailwind-and-htmx -->
  <div
    class="htmx-swapping:opacity-0 transition-all duration-500 ease-in-out relative p-8 brd bg-base-200 border-base-300 dark:bg-base-800 dark:border-base-700">
    <div class="text-xl">
      {{.Title}}
    </div>
    <div class="prose dark:text-base-100">
      {{.Body}}
    </div>
  </div>
  <div class="mt-2 flex justify-between">
    {{template "button" (map "target" "#tasks" "value" (printf "/task/%d" .PrevID) "text" "Previous")}}
    {{template "button" (map "target" "#tasks" "value" (printf "/task/%d" .NextID) "text" "Next")}}
  </div>
</div>
{{end}}
